.container {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #161616;
  background-image: linear-gradient(180deg, #161616 0%, #303031 100%);
}

.main {
  width: 100vw;
  height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  padding-top: 2rem;
  min-height: 100vh;
  width: 100%;
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  flex-wrap: wrap;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  max-width: 35%;
  margin: 0;
  margin-bottom: 1rem;
  line-height: 1.15;
  font-size: 4rem;
  color: #f7f7f7;
}

.titleSecondary {
  color: #a663cc;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.primarySection {
  background-color: #6f2dbd;
  /* width: 100%; */
  min-height: 100vh;
  padding: 2rem;
  margin-top: 10rem;
  color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  transform: skewY(3deg);
  -webkit-transform: skewY(3deg);
  -moz-transform: skewY(3deg);
  border-bottom: 180px solid #6f2dbd;
  border-left: 8px solid transparent;
  border-right: 14px solid transparent;
}

.primarySection div {
  transform: skewY(-3deg);
  -webkit-transform: skewY(-3deg);
  -moz-transform: skewY(-3deg);
}

.headshot {
  margin-top: 10rem;
  border-radius: 275px;
  overflow: hidden;
}

.about {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
}

.about h3 {
  font-size: 4rem;
  margin-bottom: 0;
}

.about p {
  align-self: flex-end;
  padding-right: 8rem;
}

.about p.blurb {
  border: 1px solid #f7f7f7;
  border-radius: 20px;
  margin-left: 8rem;
  margin-top: 4rem;
  padding: 2rem;
  line-height: 2rem;
  max-width: 50%;
  align-self: flex-start;
}

.grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 3rem;
}

.card {
  mix-blend-mode: color-dodge;
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #f7f7f7;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 80%;
  z-index: 2;
  color: white;
}

.card:hover,
.card:focus,
.card:active {
  border-color: #a663cc;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.overlay {
  position: relative;
  z-index: 1;
  mix-blend-mode: hue;
  width: 40rem;
  height: 100%;
  padding: 2rem;
  background-color: #8ec5fc;
  background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
}

.overlayText {
  mix-blend-mode: normal;
  color: white;
}

.projectSkillsWrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.projectHeader {
  padding: 0 1rem;
  font-size: 5rem;
  color: #f7f7f7;
  border-bottom: 5px solid #a663cc;
}

@media only screen and (max-width: 600px) {
  .container {
    width: 100vw;
  }

  .header {
    margin-top: 1rem;
    margin-right: 1rem;
    gap: 1;
  }

  .title {
    max-width: 70%;
    font-size: 4rem;
  }

  .footer {
    visibility: hidden;
  }

  .primarySection {
    padding: 0;
    justify-content: center;
    align-items: center;
  }

  .about {
    margin-left: 1rem;
  }

  .about h3 {
    padding-left: 1rem;
  }

  .subText {
    visibility: hidden;
  }

  .about p.blurb {
    margin: 0;
    min-width: 95%;
    border: 3px solid #f7f7f7;
  }

  .projectHeader {
    font-size: 3rem;
  }

  .card {
    border: hidden;
    background-color: #aa63cc;
    background-image: linear-gradient(90deg, #aa63cc 0%, #6f2dbd 100%);
  }
}

/* @supports (-webkit-touch-callout: none) {
  .container {
    padding-top: 60rem;
  }
} */
